<section class="about">
    <div class="about__content">
        <h1 class="about__heading">
            КБ Море — концептуаль&shy;ное бюро
        </h1>
        <div class="about__intro">
            <div class="about__nav">
                <ul class="about__nav-list">
                    <li class="about__nav-list-item">
                        <a href="#about" class="about__nav-link active">
                            О нас
                        </a>
                    </li>
                    <li class="about__nav-list-item">
                        <a href="#offer" class="about__nav-link">
                            Что мы предлагаем
                        </a>
                    </li>
                    <li class="about__nav-list-item">
                        <a href="#team" class="about__nav-link">
                            Команда
                        </a>
                    </li>
                    <li class="about__nav-list-item">
                        <a href="#career" class="about__nav-link">
                            Вакансии
                        </a>
                    </li>
                    <li class="about__nav-list-item">
                        <a href="#geography" class="about__nav-link">
                            География
                        </a>
                    </li>
                </ul>
            </div>
            <div class="about__intro-text">
                Наша команда архитекторов-градостроителей занимается проектами в сфере пространственного развития,
                мастер-планами, благоустройством территорий от идеи до полной реализации
            </div>
            <div class="about__intro-image-wrapper">

            </div>
            <div class="about__intro-image-new-container">
                <div class="about__intro-image-wrapper-animation-wrapper">
                    <img src="/images/about-intro.webp" alt="" class="about__intro-image">
                </div>
            </div>
        </div>
        <div class="about__info" id="about">
            <ul class="about__numbers-list">
                <li class="about__numbers-list-item">
                    <div class="about__numbers-card">
                        <div class="about__numbers-card-key">
                            10
                        </div>
                        <div class="about__numbers-card-value">
                            проектов реализовано за три года по всей России
                        </div>
                    </div>
                </li>
                <li class="about__numbers-list-item">
                    <div class="about__numbers-card">
                        <div class="about__numbers-card-key">
                            5
                        </div>
                        <div class="about__numbers-card-value">
                            регионов, где функционируют созданные нами общественные пространства
                        </div>
                    </div>
                </li>
                <li class="about__numbers-list-item">
                    <div class="about__numbers-card">
                        <div class="about__numbers-card-key">
                            10
                        </div>
                        <div class="about__numbers-card-value">
                            млн рублей выиграли на благоустройство 8 малых городов России
                        </div>
                    </div>
                </li>
                <li class="about__numbers-list-item">
                    <div class="about__numbers-card">
                        <div class="about__numbers-card-key">
                            8
                        </div>
                        <div class="about__numbers-card-value">
                            проектов-победителей в конкурсе МГиИП
                        </div>
                    </div>
                </li>
            </ul>
            <div class="about__info-large-text">
                Бюро является творческой единицей и, с одной стороны, платформой для молодых специалистов, которые еще
                набираются опыта на пути становления в профессии, с другой — площадкой для саморазвития и карьерного
                роста более опытных коллег.
            </div>
            <div class="about__info-small-text">
                На этом уровне формируются фундаментальные идеи, ценности и отношение к профессии, которые самые
                талантливые и ответственные архитекторы привнесут в профессию и отрасль в целом
            </div>
        </div>
        <div class="about__team" id="team">
            <div class="about__team-top-row">
                <div class="about__team-text-content">
                    <h2 class="about__team-small-heading">
                        Команда
                    </h2>
                    <div class="about__team-quote">
                        Создаем среду для людей с уважением и вниманием к историческим, географическим, этническим
                        и другим особенностям территории
                    </div>
                </div>
                <div class="about__team-card">
                    <div class="about__team-card-image-container">
                        <img src="/images/about-team-card.webp" alt="" class="about__team-card-image">
                    </div>
                    <div class="about__team-card-role">
                        ( Главный архитектор и основатель архитектурного бюро «КБ МОРЕ» )
                    </div>
                    <div class="about__team-card-name">
                        Виктория Саляхова
                    </div>
                </div>
            </div>
            <ul class="about__team-list">
                <li class="about__team-list-item">
                    <div class="about__team-card">
                        <div class="about__team-card-image-container">
                            <img src="/images/about-team-card.webp" alt="" class="about__team-card-image">
                        </div>
                        <div class="about__team-card-role">
                            Label
                        </div>
                        <div class="about__team-card-name">
                            Name
                        </div>
                    </div>
                </li>
                <li class="about__team-list-item">
                    <div class="about__team-card">
                        <div class="about__team-card-image-container">
                            <img src="/images/about-team-card.webp" alt="" class="about__team-card-image">
                        </div>
                        <div class="about__team-card-role">
                            Label
                        </div>
                        <div class="about__team-card-name">
                            Name
                        </div>
                    </div>
                </li>
                <li class="about__team-list-item">
                    <div class="about__team-card">
                        <div class="about__team-card-image-container">
                            <img src="/images/about-team-card.webp" alt="" class="about__team-card-image">
                        </div>
                        <div class="about__team-card-role">
                            Label
                        </div>
                        <div class="about__team-card-name">
                            Name
                        </div>
                    </div>
                </li>
                <li class="about__team-list-item">
                    <div class="about__team-card">
                        <div class="about__team-card-image-container">
                            <img src="/images/about-team-card.webp" alt="" class="about__team-card-image">
                        </div>
                        <div class="about__team-card-role">
                            Label
                        </div>
                        <div class="about__team-card-name">
                            Name
                        </div>
                    </div>
                </li>
                <li class="about__team-list-item">
                    <div class="about__team-card">
                        <div class="about__team-card-image-container">
                            <img src="/images/about-team-card.webp" alt="" class="about__team-card-image">
                        </div>
                        <div class="about__team-card-role">
                            Label
                        </div>
                        <div class="about__team-card-name">
                            Name
                        </div>
                    </div>
                </li>
                <li class="about__team-list-item">
                    <div class="about__team-card">
                        <div class="about__team-card-image-container">
                            <img src="/images/about-team-card.webp" alt="" class="about__team-card-image">
                        </div>
                        <div class="about__team-card-role">
                            Label
                        </div>
                        <div class="about__team-card-name">
                            Name
                        </div>
                    </div>
                </li>
                <li class="about__team-list-item">
                    <div class="about__team-card">
                        <div class="about__team-card-image-container">
                            <img src="/images/about-team-card.webp" alt="" class="about__team-card-image">
                        </div>
                        <div class="about__team-card-role">
                            Label
                        </div>
                        <div class="about__team-card-name">
                            Name
                        </div>
                    </div>
                </li>
                <li class="about__team-list-item">
                    <div class="about__team-card">
                        <div class="about__team-card-image-container">
                            <img src="/images/about-team-card.webp" alt="" class="about__team-card-image">
                        </div>
                        <div class="about__team-card-role">
                            Label
                        </div>
                        <div class="about__team-card-name">
                            Name
                        </div>
                    </div>
                </li>
                <li class="about__team-list-item">
                    <div class="about__team-card">
                        <div class="about__team-card-image-container">
                            <img src="/images/about-team-card.webp" alt="" class="about__team-card-image">
                        </div>
                        <div class="about__team-card-role">
                            Label
                        </div>
                        <div class="about__team-card-name">
                            Name
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <div class="about__offer" id="offer">
            <div class="about__offer-bg">
                <img src="/images/about-offer.webp" alt="" class="about__offer-bg-image">
            </div>
            <div class="about__offer-content">
                <div class="about__offer-content-inner">


                    <div class="about__offer-top-row">
                        <h2 class="about__offer-small-heading">
                            Условия работы
                        </h2>
                        <h3 class="about__offer-large-heading">
                            Что мы предлагаем
                        </h3>
                    </div>
                    <ol class="about__offer-list">
                        <li class="about__offer-list-item">
                            <div class="about__offer-card">
                                <div class="about__offer-card-content">
                                    <div class="about__offer-card-text">
                                        Гибридный формат работы
                                    </div>
                                    <div class="about__offer-card-remark">
                                        (3 дня в офисе, 2 дня дома)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="about__offer-list-item">
                            <div class="about__offer-card">
                                <div class="about__offer-card-content">
                                    <div class="about__offer-card-text">
                                        Офис в центре Казани
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="about__offer-list-item">
                            <div class="about__offer-card">
                                <div class="about__offer-card-content">
                                    <div class="about__offer-card-text">
                                        Работа с разными городами нашей страны
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="about__offer-list-item">
                            <div class="about__offer-card">
                                <div class="about__offer-card-content">
                                    <div class="about__offer-card-text">
                                        Рост и обучение внутри бюро
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="about__offer-list-item">
                            <div class="about__offer-card">
                                <div class="about__offer-card-content">
                                    <div class="about__offer-card-text">
                                        Интересные задачи и проекты от МАФ до мастер-планов
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="about__offer-list-item">
                            <div class="about__offer-card">
                                <div class="about__offer-card-content">
                                    <div class="about__offer-card-text">
                                        Размер оплаты зависит от твоего желания работать и развиваться мы всегда рады ее
                                        повышать активным и развивающимся сотрудникам
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="about__career" id="career">
            <div class="about__career-top-row">
                <h2 class="about__career-large-heading">
                    Актуальные вакансии<br> бюро
                </h2>
                <div class="about__career-text">
                    Ищем активных, энергичных, инициативных. С опытом и без. Хочешь развития в профессии? Приглашаем
                    тебя стать частью нашей команды
                </div>
            </div>
            <ul class="about__career-list">
                <li class="about__career-list-item">
                    <a href="#" class="about__career-card">
                        <h3 class="about__career-card-title">
                            Главный архитектор проекта
                        </h3>
                        <div class="about__career-card-city">
                            Казань
                        </div>
                        <div class="about__career-card-salary">
                            от 100 000 ₽
                        </div>
                        <div class="about__career-card-more">
                            подробнее →
                        </div>
                    </a>
                </li>
                <li class="about__career-list-item">
                    <a href="#" class="about__career-card">
                        <h3 class="about__career-card-title">
                            Менеджер проектов
                        </h3>
                        <div class="about__career-card-city">
                            Владивосток
                        </div>
                        <div class="about__career-card-salary">
                            от 100 000 ₽
                        </div>
                        <div class="about__career-card-more">
                            подробнее →
                        </div>
                    </a>
                </li>
                <li class="about__career-list-item">
                    <a href="#" class="about__career-card">
                        <h3 class="about__career-card-title">
                            Ведущий архитектор
                        </h3>
                        <div class="about__career-card-city">
                            Владивосток / Казань
                        </div>
                        <div class="about__career-card-salary">
                            от 100 000 ₽
                        </div>
                        <div class="about__career-card-more">
                            подробнее →
                        </div>
                    </a>
                </li>
                <li class="about__career-list-item">
                    <a href="#" class="about__career-card">
                        <h3 class="about__career-card-title">
                            Архитектор
                        </h3>
                        <div class="about__career-card-city">
                            Владивосток / Казань
                        </div>
                        <div class="about__career-card-salary">
                            от 100 000 ₽
                        </div>
                        <div class="about__career-card-more">
                            подробнее →
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="about__geography" id="geography">
            <h2 class="about__geography-heading">
                География проектов
            </h2>
            <div class="about__geography-row">
                <div class="about__geography-nav">
                    <ul class="about__geography-nav-list">
                        <li class="about__geography-nav-list-item">
                            <a href="#" class="about__geography-nav-link active" data-region="all">
                                Все
                            </a>
                        </li>
                        <li class="about__geography-nav-list-item">
                            <a href="#" class="about__geography-nav-link" data-region="Leningrad">
                                Ленинградская область
                            </a>
                        </li>
                        <li class="about__geography-nav-list-item">
                            <a href="#" class="about__geography-nav-link" data-region="Tatarstan">
                                Республика Татарстан
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="about__geography-map-wrapper" data-lat="55.848655" data-lng="37.489775"
                    data-points="/json/map-data.json" data-theme="/json/map-theme.json" data-pin="/images/pin.svg">
                    <div class="about__geography-map-element" id="about-map">

                    </div>
                </div>
            </div>

        </div>
        <div class="about__docs">
            <h2 class="about__docs-heading">
                Документы
            </h2>
            <ul class="about__docs-list">
                <li class="about__docs-list-item">
                    <a href="#" class="about__docs-card">
                        <h3 class="about__docs-card-title">
                            Лицензия № ДЭ-00-010410
                        </h3>
                        <div class="about__docs-card-date">
                            10 июля 2009 г.
                        </div>
                    </a>
                </li>
                <li class="about__docs-list-item">
                    <a href="#" class="about__docs-card">
                        <h3 class="about__docs-card-title">
                            Лицензия № ДЭ-00-010410
                        </h3>
                        <div class="about__docs-card-date">
                            10 июля 2009 г.
                        </div>
                    </a>
                </li>
                <li class="about__docs-list-item">
                    <a href="#" class="about__docs-card">
                        <h3 class="about__docs-card-title">
                            Лицензия № ДЭ-00-010410
                        </h3>
                        <div class="about__docs-card-date">
                            10 июля 2009 г.
                        </div>
                    </a>
                </li>
                <li class="about__docs-list-item">
                    <a href="#" class="about__docs-card">
                        <h3 class="about__docs-card-title">
                            Лицензия № ДЭ-00-010410
                        </h3>
                        <div class="about__docs-card-date">
                            10 июля 2009 г.
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>