<section class="contacts-block">
    <div class="contacts-block__content">
        <div class="contacts-block__nav">
            <h3 class="contacts-block__nav-heading">
                Меню
            </h3>
            <div class="contacts-block__nav-row">
                <div class="contacts-block__nav-col">
                    <ul class="contacts-block__nav-list">
                        <li class="contacts-block__nav-list-item">
                            <a href="#" class="contacts-block__nav-link">
                                О бюро
                            </a>
                        </li>
                        <li class="contacts-block__nav-list-item">
                            <a href="#" class="contacts-block__nav-link">
                                Медиацентр
                            </a>
                        </li>
                        <li class="contacts-block__nav-list-item">
                            <a href="#" class="contacts-block__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contacts-block__nav-col">
                    <ul class="contacts-block__nav-list">
                        <li class="contacts-block__nav-list-item">
                            <a href="#" class="contacts-block__nav-link">
                                Проекты
                            </a>
                            <ul class="contacts-block__nav-submenu-list">
                                <li class="contacts-block__nav-submenu-list-item">
                                    <a href="#" class="contacts-block__nav-submenu-link">
                                        Исследования и аналитика
                                    </a>
                                </li>
                                <li class="contacts-block__nav-submenu-list-item">
                                    <a href="#" class="contacts-block__nav-submenu-link">
                                        Мастер-план развития территории
                                    </a>
                                </li>
                                <li class="contacts-block__nav-submenu-list-item">
                                    <a href="#" class="contacts-block__nav-submenu-link">
                                        Разработка общественных пространств
                                    </a>
                                </li>
                                <li class="contacts-block__nav-submenu-list-item">
                                    <a href="#" class="contacts-block__nav-submenu-link">
                                        Дизайн городской среды
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
        <div class="contacts-block__callback">
            <h3 class="contacts-block__callback-form-heading">
                Оставьте ваши контакты, мы ответим на вопросы
            </h3>
            <form action="/" method="POST" class="contacts-block__callback-form">

                <div class="contacts-block__callback-form-fields">
                    <div class="contacts-block__callback-form-field">
                        <label class="contacts-block__callback-form-label">
                            <span class="contacts-block__callback-form-label-text">
                                Имя
                            </span>
                            <input type="text" class="contacts-block__callback-form-input" name="your-name" required="">
                        </label>
                    </div>
                    <div class="contacts-block__callback-form-field">
                        <label class="contacts-block__callback-form-label">
                            <span class="contacts-block__callback-form-label-text">
                                Телефон
                            </span>
                            <input type="tel" class="contacts-block__callback-form-input" name="your-phone" required="">
                        </label>
                    </div>
                    <div class="contacts-block__callback-form-field">
                        <label class="contacts-block__callback-form-label">
                            <span class="contacts-block__callback-form-label-text">
                                Почта
                            </span>
                            <input type="email" class="contacts-block__callback-form-input" name="your-email"
                                required="">
                        </label>
                    </div>
                    <div class="contacts-block__callback-form-field">
                        <label class="contacts-block__callback-form-file js-file-upload">
                            <span class="contacts-block__callback-form-file-label-text">
                                Прикрепить документ
                            </span>
                            <input type="file" class="contacts-block__callback-form-file-input">
                            <span class="contacts-block__callback-form-file-wrapper">
                                <span class="contacts-block__callback-form-file-text js-file-upload-text">

                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#file"></use>
                                </svg>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="contacts-block__callback-form-wrapper">
                    <div class="contacts-block__callback-form-policy">
                        нажимая кнопку «отправить» вы даёте согласие на обработку персональных данных
                    </div>
                    <button class="contacts-block__callback-form-submit" type="submit">
                        Отправить
                    </button>
                </div>
            </form>
        </div>

    </div>
</section>