<section class="contacts">
    <div class="contacts__content">
        <h1 class="contacts__main-heading">
            Контакты
        </h1>
        <div class="contacts__top-row">
            <ul class="contacts__cities-list">
                <li class="contacts__cities-list-item">
                    <div class="contacts__card">
                        <h3 class="contacts__card-title">
                            Казань
                        </h3>
                        <ul class="contacts__card-list">
                            <li class="contacts__card-list-item">
                                <div class="contacts__card-key">
                                    Тел./факс:
                                </div>
                                <a href="tel:+7 (995) 501-27-54" class="contacts__card-value">+7 (995) 501-27-54</a>
                            </li>
                            <li class="contacts__card-list-item">
                                <div class="contacts__card-key">
                                    Адреса
                                </div>
                                <div class="contacts__card-value">
                                    ул. Шигабутдина Марджани, 24
                                </div>

                            </li>
                            <li class="contacts__card-list-item">
                                <div class="contacts__card-key">
                                    Почта
                                </div>
                                <a href="mailto:oookbmore@gmail.com"
                                    class="contacts__card-value">oookbmore@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts__cities-list-item">
                    <div class="contacts__card">
                        <h3 class="contacts__card-title">
                            Владивосток
                        </h3>
                        <ul class="contacts__card-list">
                            <li class="contacts__card-list-item">
                                <div class="contacts__card-key">
                                    Тел./факс:
                                </div>
                                <a href="tel:+7 (995) 501-27-54" class="contacts__card-value">+7 (995) 501-27-54</a>
                            </li>
                            <li class="contacts__card-list-item">
                                <div class="contacts__card-key">
                                    Адреса
                                </div>
                                <div class="contacts__card-value">
                                    ул. Шигабутдина Марджани, 24
                                </div>

                            </li>
                            <li class="contacts__card-list-item">
                                <div class="contacts__card-key">
                                    Почта
                                </div>
                                <a href="mailto:oookbmore@gmail.com"
                                    class="contacts__card-value">oookbmore@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="contacts__map" data-lat="55.848655" data-lng="37.489775" data-points="/json/map-data.json"
                data-theme="/json/map-theme.json" data-pin="/images/pin.svg">
                <div class="contacts__map-wrapper" id="contacts-map">

                </div>
            </div>
        </div>
        <div class="contacts__social">
            <h2 class="contacts__social-heading">
                Будьте в курсе наших новостей!
            </h2>
            <ul class="contacts__social-list">
                <li class="contacts__social-list-item">
                    <a href="#" class="contacts__social-card">
                        <img src="/images/contacts/1.svg" alt="" class="contacts__social-card-icon">
                        <div class="contacts__social-card-text">
                            оперативные новости в режиме онлайн
                        </div>
                    </a>
                </li>
                <li class="contacts__social-list-item">
                    <a href="#" class="contacts__social-card">
                        <img src="/images/contacts/2.svg" alt="" class="contacts__social-card-icon">
                        <div class="contacts__social-card-text">
                            красивые новости в режиме онлайн
                        </div>
                    </a>
                </li>
                <li class="contacts__social-list-item">
                    <a href="#" class="contacts__social-card">
                        <img src="/images/contacts/3.svg" alt="" class="contacts__social-card-icon">
                        <div class="contacts__social-card-text">
                            новости в формате кейсов и лонгридов
                        </div>
                    </a>
                </li>
            </ul>
            <div class="contacts__social-remark">
                * Instagram является частью Meta, которая признана в РФ экстремистской организацией и запрещена.
            </div>
        </div>
        <div class="project__discuss" id="form">
            <h2 class="project__discuss-heading">
                Обсудим ваш<br> проект?
            </h2>
            <form action="/" method="POST" class="project__discuss-form">
                <div class="project__discuss-form-fields">
                    <div class="project__discuss-form-field">
                        <label class="project__discuss-form-label">
                            <span class="project__discuss-form-label-text">
                                Имя
                            </span>
                            <input type="text" class="project__discuss-form-input" name="your-name" required="">
                        </label>
                    </div>
                    <div class="project__discuss-form-field">
                        <label class="project__discuss-form-label">
                            <span class="project__discuss-form-label-text">
                                Телефон
                            </span>
                            <input type="tel" class="project__discuss-form-input" name="your-phone" required="">
                        </label>
                    </div>
                    <div class="project__discuss-form-field">
                        <label class="project__discuss-form-label">
                            <span class="project__discuss-form-label-text">
                                Почта
                            </span>
                            <input type="email" class="project__discuss-form-input" name="your-email" required="">
                        </label>
                    </div>
                    <div class="project__discuss-form-field">
                        <label class="project__discuss-form-label">
                            <span class="project__discuss-form-label-text">
                                Комментарий
                            </span>
                            <input type="text" class="project__discuss-form-input" name="your-comment">
                        </label>
                    </div>
                    <div class="project__discuss-form-field">
                        <label class="project__discuss-form-file js-file-upload">
                            <span class="project__discuss-form-file-label-text">
                                Прикрепить документ
                            </span>
                            <input type="file" class="project__discuss-form-file-input">
                            <span class="project__discuss-form-file-wrapper">
                                <span class="project__discuss-form-file-text js-file-upload-text">

                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#file"></use>
                                </svg>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="project__discuss-submit-wrapper">
                    <div class="project__discuss-form-policy">
                        нажимая кнопку «отправить» вы даёте согласие на обработку персональных данных
                    </div>
                    <button class="project__discuss-form-submit" type="submit">
                        Отправить
                    </button>
                </div>
            </form>

        </div>
    </div>
</section>