<header class="page-header">
    <div class="page-header__content">
        <div class="page-header__menu">
            <div class="page-header__menu-inner">


                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link active">
                                Проекты
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                О бюро
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Новости
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__menu-wrapper">


                    <div class="page-header__languages">
                        <a href="#" class="page-header__languages-link">
                            EN
                        </a>
                    </div>
                    <a href="#" class="page-header__callback-link">
                        Связаться
                    </a>
                </div>
            </div>
        </div>
        <a href="/" class="page-header__logo">
            <img src="/images/logo.svg" alt="" class="page-header__logo-image">
        </a>
    </div>
</header>