<header class="page-header">
    <div class="page-header__content">
        <button class="page-header__burger">

        </button>
        <div class="page-header__menu">
            <div class="page-header__menu-inner">


                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link active">
                                Проекты
                            </a>
                            <ul class="page-header__nav-submenu-list">
                                <li class="page-header__nav-submenu-list-item">
                                    <a href="#" class="page-header__nav-submenu-link">
                                        Исследования и аналитика
                                    </a>
                                </li>
                                <li class="page-header__nav-submenu-list-item">
                                    <a href="#" class="page-header__nav-submenu-link">
                                        Мастер-план развития территории
                                    </a>
                                </li>
                                <li class="page-header__nav-submenu-list-item">
                                    <a href="#" class="page-header__nav-submenu-link">
                                        Дизайн городской среды
                                    </a>
                                </li>
                                <li class="page-header__nav-submenu-list-item">
                                    <a href="#" class="page-header__nav-submenu-link">
                                        Разработка общественных пространств
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                О бюро
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Новости
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__menu-wrapper">


                    <div class="page-header__languages">
                        <a href="#" class="page-header__languages-link">
                            EN
                        </a>
                    </div>
                    <a href="#callback-modal" class="page-header__callback-link">
                        Связаться
                    </a>
                </div>
            </div>
        </div>
        <a href="/" class="page-header__logo">
            <img src="/images/logo.svg" alt="" class="page-header__logo-image">
        </a>
    </div>
</header>

<a href="/" class="page-header__logo page-header__logo--fixed">
    <img src="/images/logo.svg" alt="" class="page-header__logo-image">
</a>