<div class="home">
    <div class="home__projects f-panzoom" id="myPanzoom">
        <div class="home__pane f-panzoom__content">
            <div class="home__rows">
                <div class="home__col">
                    <div class="home__col-track">
                        <div class="home__col-inner-track">
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/1.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/2.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/3.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/4.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/14.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/5.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/8.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/6.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/11.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/3.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/2.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="home__col">
                    <div class="home__col-track">
                        <div class="home__col-inner-track">
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/10.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/12.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/15.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/14.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/7.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/12.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/10.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/9.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/11.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/12.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/13.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="home__col">
                    <div class="home__col-track">
                        <div class="home__col-inner-track">
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/4.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/5.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/6.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/2.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/9.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/15.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/11.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/12.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/16.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/7.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/4.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="home__col">
                    <div class="home__col-track">
                        <div class="home__col-inner-track">
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/5.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/4.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/3.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/11.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/7.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/2.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/13.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/16.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/14.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/4.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/1.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="home__col">
                    <div class="home__col-track">
                        <div class="home__col-inner-track">
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/13.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/2.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/6.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/3.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/7.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/11.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/4.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/12.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/8.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/4.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="home__col">
                    <div class="home__col-track">
                        <div class="home__col-inner-track">
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/1.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/2.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/3.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/4.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/14.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/5.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/8.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--medium">
                                <div class="home__card-image-container">
                                    <img src="/images/home/6.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card home__card--tall">
                                <div class="home__card-image-container">
                                    <img src="/images/home/11.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/3.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="home__card">
                                <div class="home__card-image-container">
                                    <img src="/images/home/2.webp" alt="" class="home__card-image">
                                </div>
                                <div class="home__card-content">
                                    <h3 class="home__card-title">
                                        Набережная реки Рогатка
                                    </h3>
                                    <div class="home__card-city">
                                        Владивосток
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="home__bottom">
        <div class="home__bottom-row">
            <div class="home__subjects">
                <button class="home__subjects-btn">
                    Направления
                    <span class="home__subjects-plus"></span>
                </button>
                <div class="home__subjects-dropdown">
                    <div class="home__subjects-dropdown-inner">
                        <ul class="home__subjects-list">
                            <li class="home__subjects-list-item">
                                <a href="/projects.html" class="home__subjects-link">
                                    Исследования и аналитика
                                </a>
                            </li>
                            <li class="home__subjects-list-item">
                                <a href="/projects.html" class="home__subjects-link">
                                    Мастер-план развития территории
                                </a>
                            </li>
                            <li class="home__subjects-list-item">
                                <a href="/projects.html" class="home__subjects-link">
                                    Дизайн городской среды
                                </a>
                            </li>
                            <li class="home__subjects-list-item">
                                <a href="/projects.html" class="home__subjects-link">
                                    Разработка общественных пространств
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <a href="tel:+79955012754" class="home__phone">+7 (995) 501-27-54</a>
        </div>
    </div>
    <div class="home__slogan">
        Не люди для архитектуры, а архитектура для людей
    </div>
    <a href="#callback-modal" class="home__mobile-callback">
        Связаться
    </a>
</div>