<div class="home">
    <div class="home__projects f-panzoom" id="myPanzoom">
        <div class="home__pane f-panzoom__content">
            <div class="home__rows">
                <div class="home__col">
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/1.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/2.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/3.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/4.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/14.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/5.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/8.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/6.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/11.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/3.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/2.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                </div>
                <div class="home__col">
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/10.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/12.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/15.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/14.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/7.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/12.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/10.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/9.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/11.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/12.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/13.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                </div>
                <div class="home__col">
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/4.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/5.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/6.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/2.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/9.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/15.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/11.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/12.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/16.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/7.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/4.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                </div>
                <div class="home__col">
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/5.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/4.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/3.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/11.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/7.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/2.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/13.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/16.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/14.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/4.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/1.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                </div>
                <div class="home__col">
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/13.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/2.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/6.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>

                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/3.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/7.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/11.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/4.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/12.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/8.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/4.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                </div>
                <div class="home__col">
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/1.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/2.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/3.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/4.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/14.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/5.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/8.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/6.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/11.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/3.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/2.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                </div>
                <div class="home__col">
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/10.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/12.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/15.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/14.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/7.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/12.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/10.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--medium">
                        <div class="home__card-image-container">
                            <img src="/images/home/9.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card home__card--tall">
                        <div class="home__card-image-container">
                            <img src="/images/home/11.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/12.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                    <a href="#" class="home__card">
                        <div class="home__card-image-container">
                            <img src="/images/home/13.webp" alt="" class="home__card-image">
                        </div>
                        <div class="home__card-content">
                            <h3 class="home__card-title">
                                Набережная реки Рогатка
                            </h3>
                            <div class="home__card-city">
                                Владивосток
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="home__bottom">
        <div class="home__bottom-row">
            <a href="#" class="home__subjects">
                Направления
                <span class="home__subjects-plus"></span>
            </a>
            <a href="tel:+79955012754" class="home__phone">+7 (995) 501-27-54</a>
        </div>
    </div>
</div>