<div class="callback-modal js-modal" id="callback-modal" data-lenis-prevent="">
    <div class="callback-modal__inner">
        <button class="callback-modal__close js-modal-close">

        </button>
        <form action="/" method="POST" class="callback-modal__form">
            <h3 class="callback-modal__form-heading">
                Обсудим ваш<br> проект?
            </h3>
            <div class="callback-modal__form-fields">
                <div class="callback-modal__form-field">
                    <label class="callback-modal__form-label">
                        <span class="callback-modal__form-label-text">
                            Имя
                        </span>
                        <input type="text" name="your-name" class="callback-modal__form-input" required="">
                    </label>
                </div>
                <div class="callback-modal__form-field">
                    <label class="callback-modal__form-label">
                        <span class="callback-modal__form-label-text">
                            Телефон
                        </span>
                        <input type="tel" name="your-phone" class="callback-modal__form-input" required="">
                    </label>
                </div>
                <div class="callback-modal__form-field">
                    <label class="callback-modal__form-label">
                        <span class="callback-modal__form-label-text">
                            Комментарий
                        </span>
                        <input type="text" name="your-comment" class="callback-modal__form-input">
                    </label>
                </div>
            </div>
            <button class="callback-modal__form-submit" type="submit">
                Отправить
            </button>
            <div class="callback-modal__form-policy">
                нажимая кнопку «отправить» вы даёте согласие на обработку персональных данных
            </div>
        </form>
        <ul class="callback-modal__contacts-list">
            <li class="callback-modal__contacts-list-item">
                <div class="callback-modal__contacts-card">
                    <h3 class="callback-modal__contacts-card-key">
                        Телефон
                    </h3>
                    <a href="tel:+79955012754" class="callback-modal__contacts-card-link">
                        +7 (995) 501-27-54
                    </a>
                </div>
            </li>
            <li class="callback-modal__contacts-list-item">
                <div class="callback-modal__contacts-card">
                    <h3 class="callback-modal__contacts-card-key">
                        Эл. почта
                    </h3>
                    <a href="mailto:oookbmore@gmail.com" class="callback-modal__contacts-card-link">
                        oookbmore@gmail.com
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>