<section class="news-single">
    <div class="news-single__content">

        <h1 class="news-single__heading">
            Образовательный воркшоп для школьников Анадырь
        </h1>
        <div class="news-single__top-row">
            <a href="#" class="news-single__back-link">
                ← ко всем постам
            </a>
            <div class="news-single__info">
                <div class="news-single__date">
                    21 сентября
                </div>
                <div class="news-single__tag">
                    Новости бюро
                </div>
            </div>
            <div class="news-single__preview-image-container">
                <img src="/images/news-single.webp" alt="" class="news-single__preview-image">
            </div>
        </div>
        <div class="news-single__text-content">

            <p class="large-text">
                С 14 по 18 сентября в Анадыре (Чукотский автономный округ) мы провели образовательный воркшоп для
                местных школьников на тему «Городская среда и благоустройство: дизайн и производство» совместно с
                Вероникой Марновой и Дирекцией общественных пространств Владивостока. Ребята познакомились с
                определениями городской среды, узнали, для чего она нужна, и попробовали себя в роли архитекторов.
            </p>
            <p>
                Для участников воркшопа была сформирована насыщенная образовательная программа. В течение четырёх
                дней мы провели:
            </p>
            <ul>
                <li>
                    Лекции о том, что такое благоустройство и городская среда, как проектируются общественные
                    пространства, чем в них можно заниматься и как они живут после реализации, а также как создаются
                    малые архитектурные формы.
                </li>
                <li>
                    Урбан-прогулку - выход на объект. В ходе прогулки ребята фиксировали проблемы и потенциалы
                    территории, которые нашли отражение в проектныхрешениях.
                </li>
                <li>
                    Дизайн-игру «Кто гуляет в наших парках. Пользователи территории».
                </li>
                <li>
                    Занятия по макетированию.
                </li>
                <li>
                    Подготовку презентации и защиту проектов.
                </li>
            </ul>
            <p>
                Результатом работы стали проекты в виде макетов и презентаций двух территорий города – набережной и
                улицы Дежнёва. В проекте развития набережной была отражена тема экологии, а на улице Дежнёва –
                северное сияние как достопримечательность Чукотки. Теперь эти идеи будут учтены при дальнейшей
                реализации проектов.
            </p>
            <div class="gallery">
                <div class="gallery__slider-main">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gallery__slider-main-card">
                                    <img src="/images/news-single/main.webp" alt=""
                                        class="gallery__slider-main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-main-card">
                                    <img src="/images/news-single/main.webp" alt=""
                                        class="gallery__slider-main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-main-card">
                                    <img src="/images/news-single/main.webp" alt=""
                                        class="gallery__slider-main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-main-card">
                                    <img src="/images/news-single/main.webp" alt=""
                                        class="gallery__slider-main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-main-card">
                                    <img src="/images/news-single/main.webp" alt=""
                                        class="gallery__slider-main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-main-card">
                                    <img src="/images/news-single/main.webp" alt=""
                                        class="gallery__slider-main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-main-card">
                                    <img src="/images/news-single/main.webp" alt=""
                                        class="gallery__slider-main-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gallery__slider-thumbs">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gallery__slider-thumbs-card">
                                    <img src="/images/news-single/1.webp" alt=""
                                        class="gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-thumbs-card">
                                    <img src="/images/news-single/2.webp" alt=""
                                        class="gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-thumbs-card">
                                    <img src="/images/news-single/3.webp" alt=""
                                        class="gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-thumbs-card">
                                    <img src="/images/news-single/4.webp" alt=""
                                        class="gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-thumbs-card">
                                    <img src="/images/news-single/5.webp" alt=""
                                        class="gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-thumbs-card">
                                    <img src="/images/news-single/6.webp" alt=""
                                        class="gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery__slider-thumbs-card">
                                    <img src="/images/news-single/7.webp" alt=""
                                        class="gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                Для участников воркшопа была сформирована насыщенная образовательная программа. В течение четырёх
                дней мы провели:
            </p>
            <ul>
                <li>
                    Лекции о том, что такое благоустройство и городская среда, как проектируются общественные
                    пространства, чем в них можно заниматься и как они живут после реализации, а также как создаются
                    малые архитектурные формы.
                </li>
                <li>
                    Урбан-прогулку - выход на объект. В ходе прогулки ребята фиксировали проблемы и потенциалы
                    территории, которые нашли отражение в проектныхрешениях.
                </li>
                <li>
                    Дизайн-игру «Кто гуляет в наших парках. Пользователи территории».
                </li>
                <li>
                    Занятия по макетированию.
                </li>
                <li>
                    Подготовку презентации и защиту проектов.
                </li>
            </ul>
            <p>
                Результатом работы стали проекты в виде макетов и презентаций двух территорий города – набережной и
                улицы Дежнёва. В проекте развития набережной была отражена тема экологии, а на улице Дежнёва –
                северное сияние как достопримечательность Чукотки. Теперь эти идеи будут учтены при дальнейшей
                реализации проектов.
            </p>

        </div>
    </div>
</section>