<section class="project">
    <div class="project__content">
        <h1 class="project__heading">
            Набережная реки<br> Рогатка
        </h1>
        <div class="project__intro">
            <div class="project__nav">
                <ul class="project__nav-list">
                    <li class="project__nav-list-item">
                        <a href="#about" class="project__nav-link active">
                            О нас
                        </a>
                    </li>

                    <li class="project__nav-list-item">
                        <a href="#team" class="project__nav-link">
                            Команда
                        </a>
                    </li>
                    <li class="project__nav-list-item">
                        <a href="#gallery" class="project__nav-link">
                            Фотогалерея
                        </a>
                    </li>
                    <li class="project__nav-list-item">
                        <a href="#reviews" class="project__nav-link">
                            Отзыв
                        </a>
                    </li>
                    <li class="project__nav-list-item">
                        <a href="#form" class="project__nav-link">
                            Связаться
                        </a>
                    </li>
                </ul>
            </div>
            <div class="project__intro-text">
                Парк Ружино
            </div>
            <div class="project__intro-image-wrapper">

            </div>
            <div class="project__intro-image-new-container">
                <div class="project__intro-image-wrapper-animation-wrapper">
                    <img src="/images/project-next.webp" alt="" class="project__intro-image">
                </div>
            </div>
        </div>
        <div class="project__info" id="team">
            <ul class="project__info-list">
                <li class="project__info-list-item">
                    <div class="project__info-card">
                        <h3 class="project__card-key">
                            Тип проекта
                        </h3>
                        <div class="project__card-value">
                            Мастер-план территории
                        </div>
                    </div>
                </li>
                <li class="project__info-list-item">
                    <div class="project__info-card">
                        <h3 class="project__card-key">
                            Расположение
                        </h3>
                        <div class="project__card-value">
                            Владивосток, Приморский край
                        </div>
                    </div>
                </li>
                <li class="project__info-list-item">
                    <div class="project__info-card">
                        <h3 class="project__card-key">
                            Статус
                        </h3>
                        <div class="project__card-value">
                            Проект 2021, Реализация 2021-2023
                        </div>
                    </div>
                </li>
                <li class="project__info-list-item">
                    <div class="project__info-card">
                        <h3 class="project__card-key">
                            Площадь
                        </h3>
                        <div class="project__card-value">
                            20 000 м²
                        </div>
                    </div>
                </li>
                <li class="project__info-list-item">
                    <div class="project__info-card">
                        <h3 class="project__card-key">
                            Руководитель команды и проекта
                        </h3>
                        <div class="project__card-value">
                            Виктория Саляхова
                        </div>
                    </div>
                </li>
                <li class="project__info-list-item">
                    <div class="project__info-card">
                        <h3 class="project__card-key">
                            Руководитель проекта
                        </h3>
                        <div class="project__card-value">
                            Лилия Гиззятова
                        </div>
                    </div>
                </li>
                <li class="project__info-list-item">
                    <div class="project__info-card">
                        <h3 class="project__card-key">
                            Главный архитектор проекта
                        </h3>
                        <div class="project__card-value">
                            Анастасия Яременко
                        </div>
                    </div>
                </li>
                <li class="project__info-list-item">
                    <div class="project__info-card">
                        <h3 class="project__card-key">
                            Архитекторы
                        </h3>
                        <div class="project__card-value">
                            Эльвира Амирханова,<br> Сурия Мутигуллина,<br> Александра Бакулина
                        </div>
                    </div>
                </li>
                <li class="project__info-list-item">
                    <div class="project__info-card">
                        <h3 class="project__card-key">
                            Проектировщики
                        </h3>
                        <div class="project__card-value">
                            «Ф-арт групп» Артур Ураскузин,<br> Ильнур Фархуллин
                        </div>
                    </div>
                </li>
            </ul>
            <div class="project__info-text">
                <p>
                    Долгие годы жители и&nbsp;гости могли увидеть здесь&nbsp;&mdash; в&nbsp;самом центре
                    города&nbsp;&mdash; лишь неработающий фонтан,
                    маргиналов и&nbsp;голубей. Теперь в&nbsp;сквере появилась комфортная прогулочная зона, где можно
                    отдохнуть
                    и&nbsp;познакомиться с&nbsp;историей места.
                </p>
                <p>
                    Сквер находится в&nbsp;центральной части Благовещенска вдоль улицы 50&nbsp;лет Октября.
                    До&nbsp;реконструкции
                    половину территории этого общественного пространства занимали парковочные места, пространство
                    работало только как транзит до&nbsp;остановки. В&nbsp;ходе опроса местных жителей большинство
                    отметил и&nbsp;другие
                    проблемы&nbsp;&mdash; большое количество маргинальных личностей и&nbsp;голубей. При этом сквер
                    расположен на
                    центральной улице города недалеко от&nbsp;числе, туристов.
                </p>
                <p>
                    Идея проекта благоустройства&nbsp;&mdash; приглашающий сквер. Он&nbsp;становится первой въездной
                    точкой для туристов
                    и&nbsp;жителей Благовещенска, где они могут познакомиться с&nbsp;идентичностью города через историю,
                    культуру
                    и&nbsp;природу. В&nbsp;результате была пересмотрена организация парковок и&nbsp;планировочная
                    структура. В&nbsp;сквере
                    появились информационные таблички с&nbsp;просьбой не&nbsp;кормить голубей и&nbsp;не&nbsp;выгуливать
                    здесь питомцев.
                    Также здесь добавились тематические зоны: прихожая, сад и&nbsp;гостиная.
                </p>
                <p>
                    Прихожая включает в&nbsp;себя входную группу со&nbsp;стелой с&nbsp;названием сквера, велопарковку
                    и&nbsp;навигационный стенд с&nbsp;картой. Вдоль пешеходного транзита появилась пергола
                    с&nbsp;качелями, где можно спрятаться от&nbsp;солнца или жары. Здесь также нашлось место для
                    постоянной выставки с&nbsp;информацией об&nbsp;истории города и&nbsp;известных личностях.
                </p>
                <p>
                    Точкой притяжения в&nbsp;саду становится площадь с&nbsp;фонтаном. Он&nbsp;остался в&nbsp;том&nbsp;же
                    месте, что и&nbsp;старый, но&nbsp;обновился под современный дизайн. Вокруг фонтана появились сады
                    с&nbsp;сезонным цветением. В&nbsp;этой зоне также теперь есть кинетический арт-объект в&nbsp;виде
                    ветряка, который вращается благодаря силе ветра, отсылает посетителей к&nbsp;названию Бабочка
                    и&nbsp;становится привлекательной фотозоной. Здесь установлены познавательные стенды для детей
                    о&nbsp;животных и&nbsp;птицах Амурского края. О&nbsp;стендах чуть позже мы&nbsp;расскажем подробнее.
                </p>
            </div>
        </div>
        <div class="project__gallery" id="gallery">
            <ul class="project__gallery-list">
                <li class="project__gallery-list-item">
                    <div class="project__gallery-card">
                        <div class="project__gallery-card-image-container">
                            <img src="/images/project/1.webp" alt="" class="project__gallery-card-image">
                        </div>
                        <div class="project__gallery-card-text">
                            Долгие годы жители и гости могли увидеть здесь – в самом центре города – лишь неработающий
                            фонтан, маргиналов и голубей.
                        </div>
                    </div>
                </li>
                <li class="project__gallery-list-item">
                    <div class="project__gallery-card">
                        <div class="project__gallery-card-image-container">
                            <img src="/images/project/2.webp" alt="" class="project__gallery-card-image">
                        </div>
                        <div class="project__gallery-card-text">
                            Долгие годы жители и гости могли увидеть здесь – в самом центре города – лишь неработающий
                            фонтан, маргиналов и голубей.
                        </div>
                    </div>
                </li>
                <li class="project__gallery-list-item">
                    <div class="project__gallery-card">
                        <div class="project__gallery-card-image-container">
                            <img src="/images/project/3.webp" alt="" class="project__gallery-card-image">
                        </div>
                        <div class="project__gallery-card-text">
                            Долгие годы жители и гости могли увидеть здесь – в самом центре города – лишь неработающий
                            фонтан, маргиналов и голубей.
                        </div>
                    </div>
                </li>
                <li class="project__gallery-list-item">
                    <div class="project__gallery-card">
                        <div class="project__gallery-card-image-container">
                            <img src="/images/project/1.webp" alt="" class="project__gallery-card-image">
                        </div>
                        <div class="project__gallery-card-text">
                            Долгие годы жители и гости могли увидеть здесь – в самом центре города – лишь неработающий
                            фонтан, маргиналов и голубей.
                        </div>
                    </div>
                </li>
                <li class="project__gallery-list-item">
                    <div class="project__gallery-card">
                        <div class="project__gallery-card-image-container">
                            <img src="/images/project/2.webp" alt="" class="project__gallery-card-image">
                        </div>
                        <div class="project__gallery-card-text">
                            Долгие годы жители и гости могли увидеть здесь – в самом центре города – лишь неработающий
                            фонтан, маргиналов и голубей.
                        </div>
                    </div>
                </li>
                <li class="project__gallery-list-item">
                    <div class="project__gallery-card">
                        <div class="project__gallery-card-image-container">
                            <img src="/images/project/3.webp" alt="" class="project__gallery-card-image">
                        </div>
                        <div class="project__gallery-card-text">
                            Долгие годы жители и гости могли увидеть здесь – в самом центре города – лишь неработающий
                            фонтан, маргиналов и голубей.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="project__quote" id="reviews">
            <div class="project__quote-author">
                <div class="project__quote-author-image-container">
                    <img src="/images/project-author.webp" alt="" class="project__quote-author-image">
                </div>
                <div class="project__quote-author-role">
                    Руководитель компинии застройщика
                </div>
                <div class="project__quote-author-name">
                    Гяллямов Марат Ильдусович
                </div>
            </div>
            <div class="project__quote-content">
                <h2 class="project__quote-title">
                    Отзыв клиента
                </h2>
                <div class="project__quote-text">
                    Небольшая цитата — отзыв клиента о работе с КБ МОРЕ. Самая классная цитата, остальное уходит
                    в фото/видео. Небольшая цитата — отзыв клиента о работе с КБ МОРЕ. Самая классная цитата, остальное
                    уходит в фото/видео
                </div>
            </div>
        </div>
        <div class="project__discuss" id="form">
            <h2 class="project__discuss-heading">
                Обсудим ваш<br> проект?
            </h2>
            <form action="/" method="POST" class="project__discuss-form">
                <div class="project__discuss-form-fields">
                    <div class="project__discuss-form-field">
                        <label class="project__discuss-form-label">
                            <span class="project__discuss-form-label-text">
                                Имя
                            </span>
                            <input type="text" class="project__discuss-form-input" name="your-name" required="">
                        </label>
                    </div>
                    <div class="project__discuss-form-field">
                        <label class="project__discuss-form-label">
                            <span class="project__discuss-form-label-text">
                                Телефон
                            </span>
                            <input type="tel" class="project__discuss-form-input" name="your-phone" required="">
                        </label>
                    </div>
                    <div class="project__discuss-form-field">
                        <label class="project__discuss-form-label">
                            <span class="project__discuss-form-label-text">
                                Почта
                            </span>
                            <input type="email" class="project__discuss-form-input" name="your-email" required="">
                        </label>
                    </div>
                    <div class="project__discuss-form-field">
                        <label class="project__discuss-form-label">
                            <span class="project__discuss-form-label-text">
                                Комментарий
                            </span>
                            <input type="text" class="project__discuss-form-input" name="your-comment">
                        </label>
                    </div>
                    <div class="project__discuss-form-field">
                        <label class="project__discuss-form-file js-file-upload">
                            <span class="project__discuss-form-file-label-text">
                                Прикрепить документ
                            </span>
                            <input type="file" class="project__discuss-form-file-input">
                            <span class="project__discuss-form-file-wrapper">
                                <span class="project__discuss-form-file-text js-file-upload-text">

                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#file"></use>
                                </svg>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="project__discuss-submit-wrapper">
                    <div class="project__discuss-form-policy">
                        нажимая кнопку «отправить» вы даёте согласие на обработку персональных данных
                    </div>
                    <button class="project__discuss-form-submit" type="submit">
                        Отправить
                    </button>
                </div>
            </form>

        </div>
        <div class="project__next" data-next-url="/project-2.html">
            <div class="project__next-block">
                <div class="project__next-progress">
                    <div class="project__next-progress-text">
                        Следующий проект
                    </div>
                    <div class="project__next-progress-bar">
                        <div class="project__next-progress-bar-inner"></div>
                    </div>
                </div>
                <div class="project__next-row">
                    <div class="project__next-number">
                        09.
                    </div>
                    <div class="project__next-preview">
                        <img src="/images/project-next.webp" alt="" class="project__next-preview-image">
                    </div>
                    <div class="project__next-title">
                        Парк Ружино
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>