<section class="projects">
    <div class="projects__content">
        <h1 class="projects__category-title">
            Исследования и аналитика
        </h1>
        <div class="projects__category-text">
            Исследования и аналитика — описание этого направления, что делаем, что является результатом работы и еще
            пару строк
        </div>
        <div class="projects__category-bottom-row">
            <div class="projects__category-bottom-row-inner">
                <a href="#" class="projects__category-selected">
                    Исследования и аналитика
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#cross"></use>
                    </svg>
                </a>
                <a href="tel:+7 (995) 501-27-54" class="projects__phone">+7 (995) 501-27-54</a>
            </div>
        </div>
        <div class="projects__rows">
            <div class="projects__col">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/1.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/2.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--medium">
                    <div class="projects__card-image-container">
                        <img src="/images/home/3.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/4.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/14.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/5.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/8.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--medium">
                    <div class="projects__card-image-container">
                        <img src="/images/home/6.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/11.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/3.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
            </div>
            <div class="projects__col">
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/7.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/8.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/11.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--medium">
                    <div class="projects__card-image-container">
                        <img src="/images/home/15.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/12.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/13.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/9.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/5.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/8.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
            </div>
            <div class="projects__col">

                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/4.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/14.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/5.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/8.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--medium">
                    <div class="projects__card-image-container">
                        <img src="/images/home/6.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/1.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/2.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--medium">
                    <div class="projects__card-image-container">
                        <img src="/images/home/3.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/11.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/3.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
            </div>
            <div class="projects__col">
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/9.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/7.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/8.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/11.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--medium">
                    <div class="projects__card-image-container">
                        <img src="/images/home/15.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/12.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/home/13.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/9.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
                <a href="#" class="projects__card projects__card--tall">
                    <div class="projects__card-image-container">
                        <img src="/images/home/8.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Набережная реки Рогатка
                        </h3>
                        <div class="projects__card-city">
                            Владивосток
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>