.callback-modal {
  background: rgba(black, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: contain;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 90;
  display: flex;
  flex-direction: column;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
  }

  body:not(.loaded) & {
    display: none;
  }
}

.callback-modal__inner {
  flex-grow: 1;
  margin-left: auto;
  width: 100%;

  background-color: #1b1a1a;
  position: relative;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  padding-top: 14rem;
  padding-bottom: 2.8rem;

  @include breakpointMF(small-tablet) {
    transition: transform 0.4s ease 0.4s;
    transform: translateX(100%);
    max-width: 96rem;

    .js-modal.active & {
      transform: translateX(0);
      transition: transform 0.4s ease-out 0.2s;
    }
  }

  @include breakpoint(mobile) {
    padding: 2rem;
    padding-top: 14rem;
  }
}

.callback-modal__close {
  @include breakpointMF(small-tablet) {
    top: 2.2rem;
    right: 3rem;
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2.8rem;
      height: 1px;
      background-color: #fff4e0;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    flex-shrink: 0;
    grid-area: burger;

    gap: 0.4rem;
    pointer-events: all;
    position: relative;
    z-index: 80;
    position: absolute;
    top: 2rem;
    left: 2rem;
    &::before,
    &::after {
      content: "";
      width: 2.8rem;
      height: 0.2rem;
      background-color: #fff4e0;
      transition: transform 0.2s;
    }

    &::before {
      transform: translateY(0.3rem) rotate(45deg);
    }

    &::after {
      transform: translateY(-0.3rem) rotate(-45deg);
    }
  }
}

.callback-modal__form {
  width: 100%;
  max-width: 34.2rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    max-width: none;
    margin: 0;
    flex-grow: 1;
  }
}

.callback-modal__form-heading {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: -0.035em;
  font-family: var(--geologica);
  margin-bottom: 4.2rem;
}

.callback-modal__form-fields {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @include breakpoint(mobile) {
    margin-bottom: auto;
  }
}

.callback-modal__form-field {
  display: flex;
  flex-direction: column;
}

.callback-modal__form-label {
  display: block;
  position: relative;
}

.callback-modal__form-label-text {
  position: absolute;
}

.callback-modal__form-input {
  display: block;
  width: 100%;
  height: 5rem;
  font-size: 1.6rem;
  padding: 0 2rem;
  border: 1px solid #fff4e0;
  border-radius: 100rem;
  color: #fff4e0;
}

.callback-modal__form-label-text {
  position: absolute;
  left: 2rem;
  padding: 0.5rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: #fff4e0;
  top: -1.5rem;
  background-color: #1b1a1a;
  font-family: var(--geologica);
  margin-left: -0.5rem;
}

.callback-modal__form-submit {
  display: block;
  text-align: center;
  width: 100%;
  padding: 4rem;
  border-radius: 6rem;
  background-color: #fff4e0;
  color: #1b1a1a;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.05rem;
  margin-top: 2rem;
}

.callback-modal__form-policy {
  display: block;
  text-align: center;
  margin-top: 2.6rem;
  font-weight: 250;
  font-size: 1.1rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: rgba(#fff4e0, 0.3);
}

.callback-modal__contacts-list {
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 11rem;
  row-gap: 5rem;

  @include breakpoint(mobile) {
    display: none;
  }
}

.callback-modal__contacts-list-item {
  flex-shrink: 0;
}

.callback-modal__contacts-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.callback-modal__contacts-card-key {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgba(#fff4e0, 0.3);
  line-height: 120%;
}

.callback-modal__contacts-card-link {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 100%;
  font-family: var(--montserrat);

  color: #fff4e0;
  &:link,
  &:visited {
    color: #fff4e0;
  }
}
